@(user: models.User, goal: Goal)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("showGoal.title"), Some(user)) {
    <div class="goals col-md-6 col-md-offset-3">
        <div class="row">
            <h3 class="col-md-9">@goal.name</h3>
            <div class="col-md-3 text-right">
                <a href="https://twitter.com/@goal.createdBy.screenName" title="Created by @@@goal.createdBy.screenName">
                    <img src="https://twitter.com/@user.screenName/profile_image" height="40px" />
                </a>
            </div>
        </div>
        <div class="row">
            <h4 class="col-md-12">@goal.description</h4>
            <hr class="col-md-12" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <p class="col-md-5"><strong>Max progress</strong></p>
                    <p class="col-md-7">@goal.maxProgress</p>
                </div>
                <div class="row">
                    <p class="col-md-5"><strong>Due</strong></p>
                    <p class="col-md-7">@goal.timeLimit</p>
                </div>
                <div class="row">
                    <p class="col-md-5"><strong>Created at</strong></p>
                    <p class="col-md-7">@goal.createdAt</p>
                </div>
            </div>
        </div>
    </div>
}
